.mask-reveal {
  position: relative;
  overflow: hidden;
}

.mask-reveal__layer {
  display: block;
  // position: absolute
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgrond-underline {
  display: inline;
  position: relative;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
}
